In [4]:
import pandas as pd

In [5]:
data = pd.read_csv("https://raw.githubusercontent.com/Akashr-18/Data_Store/main/train.csv")
data

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.52,Premium,F,VS2,62.2,58.0,7.27,7.33,4.55,13619
1,1,2.03,Very Good,J,SI2,62.0,58.0,8.06,8.12,5.05,13387
2,2,0.70,Ideal,G,VS1,61.2,57.0,5.69,5.73,3.50,2772
3,3,0.32,Ideal,G,VS1,61.6,56.0,4.38,4.41,2.71,666
4,4,1.70,Premium,G,VS2,62.6,59.0,7.65,7.61,4.77,14453
...,...,...,...,...,...,...,...,...,...,...,...
193568,193568,0.31,Ideal,D,VVS2,61.1,56.0,4.35,4.39,2.67,1130
193569,193569,0.70,Premium,G,VVS2,60.3,58.0,5.75,5.77,3.47,2874
193570,193570,0.73,Very Good,F,SI1,63.1,57.0,5.72,5.75,3.62,3036
193571,193571,0.34,Very Good,D,SI1,62.9,55.0,4.45,4.49,2.81,681
193572,193572,0.71,Good,E,SI2,60.8,64.0,5.73,5.71,3.48,2258

In [6]:
data.shape

(193573, 11)

In [16]:
data.sample(3)

        carat        cut color clarity  depth  table     x     y     z  price
116569   0.32      Ideal     E     VS2   62.1   57.0  4.40  4.42  2.74    702
108383   1.50  Very Good     F     SI1   63.3   57.0  7.28  7.21  4.59   9730
143342   1.05      Ideal     E     VS2   60.9   57.0  6.55  6.52  3.98   6776

In [17]:
data.size

1935730

In [7]:
data.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [8]:
data.columns

Index(['id', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y',
       'z', 'price'],
      dtype='object')

In [9]:
data.drop(labels=['id'], axis=1, inplace=True)

In [10]:
data.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z',
       'price'],
      dtype='object')

In [11]:
data.duplicated().sum()

0

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 10 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   carat    193573 non-null  float64
 1   cut      193573 non-null  object
 2   color    193573 non-null  object
 3   clarity  193573 non-null  object
 4   depth    193573 non-null  float64
 5   table    193573 non-null  float64
 6   x        193573 non-null  float64
 7   y        193573 non-null  float64
 8   z        193573 non-null  float64
 9   price    193573 non-null  int64
dtypes: float64(6), int64(1), object(3)
memory usage: 14.8+ MB

In [18]:
from sklearn.impute import SimpleImputer #Handling missing values
from sklearn.preprocessing import OrdinalEncoder #Ordinal Encoding
from sklearn.preprocessing import StandardScaler #Feature Scaling

from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [19]:
data.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z',
       'price'],
      dtype='object')

In [20]:
X = data.drop(labels=['price'], axis=1)
y = data[['price']]

In [24]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 9 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   carat    193573 non-null  float64
 1   cut      193573 non-null  object
 2   color    193573 non-null  object
 3   clarity  193573 non-null  object
 4   depth    193573 non-null  float64
 5   table    193573 non-null  float64
 6   x        193573 non-null  float64
 7   y        193573 non-null  float64
 8   z        193573 non-null  float64
dtypes: float64(6), object(3)
memory usage: 13.3+ MB

In [27]:
cat_cols = data.select_dtypes(include='object').columns
num_cols = data.select_dtypes(exclude='object').columns

In [29]:
cat_cols

Index(['cut', 'color', 'clarity'], dtype='object')

In [30]:
num_cols

Index(['carat', 'depth', 'table', 'x', 'y', 'z', 'price'], dtype='object')

In [32]:
num_pipeline = Pipeline(
    steps = [
        ('imputer', SimpleImputer()),
        ("scaler", StandardScaler())
    ]
)

In [33]:
cut_categories = ['Fair', 'Good', 'Very Good','Premium','Ideal']
color_categories = ['D', 'E', 'F', 'G', 'H', 'I', 'J']
clarity_categories = ['I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF']

In [34]:
cat_pipeline = Pipeline(
    steps= [
        ("imputer", SimpleImputer(strategy='most_frequent')),
        ("ordinalencoder", OrdinalEncoder(categories=[cut_categories,color_categories,clarity_categories]))
    ]
)

In [35]:
preprocessor = ColumnTransformer(
    [
        ("num_pipeline", num_pipeline, num_cols),
        ("cat_pipeline", cat_pipeline, cat_cols)
    ]
)

In [36]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [37]:
X_train.shape

(135501, 9)

In [38]:
X_test.shape

(58072, 9)

In [47]:
y_test.shape

(135501, 1)

In [46]:
preprocessor.fit_transform(X_train)

ValueError: A given column is not a column of the dataframe

In [ ]:
preprocessor.transform(X_test)